<div class="small-10 medium-12 large-12 small-centered columns text-center">

  <h1 class="text-center heading animated pulse">Neighborhoods</h1>

  <div class="row">
    <% @neighborhoods.each do |n| %>
      <p class="animated fadeIn memoirs memoir-text"><%= link_to n.name, neighborhood_path(n) %></p>
    <% end %>
  </div>
</div>
