<div class="small-12 medium-11 large-10 small-centered columns text-center animated fadeIn">
  <p class="show">
    <h1 class="memoir-text-show"><%= @memoir.memoir %></h1>
    <h1 class="memoir-text-subhead"><%= @memoir.name %>, <%= @memoir.age %>, <%= @memoir.neighborhood.name %></h1>
  </p>
</div>
