<div class="small-10 medium-9 large-7 small-centered columns text-center animated zoomIn">
  <p class="show">
    <h1><%= @memoir.memoir %></h1>
    <h1><%= @memoir.name %>, <%= @memoir.age %>, <%= @memoir.neighborhood.name %></h1>
  </p>
</div>
