<div class="small-10 medium-9 large-7 small-centered columns text-center">
  <p>
    <h1><%= @memoir.memoir %></h1>
    <h1><%= @memoir.name %>, <%= @memoir.age %>, <%= @memoir.neighborhood.name %></h1>
  </p>
</div>
